${rootData.put('pageTitle','Admin')}
${rootData.put('navIndex',6)}
<h2>项目后台管理</h2>
<div class="list-group">
    <#list projectList as project>
        <a href="${ctx_path}/projects/${project.id}.htm" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading">${project.name}</h4>
            <p class="list-group-item-text">
                ${project.subtitle}
                <span class="badge flowRight">${project.language}</span>
            </p>
        </a>
    </#list>
</div>