${rootData.put('pageTitle','Blog')}
<!-- semantic-ui -->
<link href="//files.hasor.net/static/javascript/semantic-ui/2.2.3/semantic.min.css" rel="stylesheet">
<script src="//files.hasor.net/static/javascript/semantic-ui/2.2.3/semantic.js"></script>
<!-- editor.md -->
<script src="//files.hasor.net/static/javascript/editor.md/1.5.0/editormd.min.js"></script>
<link href="//files.hasor.net/static/javascript/editor.md/1.5.0/css/editormd.min.css" rel="stylesheet"/>
<!-- dateRangePicker -->
<script src="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/moment.min.js"></script>
<script src="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/daterangepicker.js"></script>
<link href="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/daterangepicker.css" rel="stylesheet"/>

<link href="${ctx_path}/static/website/blog_editer/editer.css" rel="stylesheet">
<script src="${ctx_path}/static/website/blog_editer/editer.js"></script>
<form>
    <input id="csrfToken" type="hidden" name="csrfToken" value="${csrfToken}"/>
    <!-- 标题 & 分类-->
    <div class="ui form">
        <div class="fields">
            <div class="twelve wide field">
                <div class="ui massive transparent fluid input">
                    <input type="text" placeholder="文章标题...">
                </div>
            </div>
            <div class="four wide field" style="z-index: 2000;">
                <div class="ui search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择分类</div>
                    <div class="menu">
                        <div class="item" data-value=""><i class="bookmark icon"></i>默认分类</div>
                        <#list categoryList as category>
                            <div class="item" data-value="${category.id}"><i class="tag icon"></i>${category.name}</div>
                        </#list>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑器 -->
    <div id="blogEditor">
        <textarea id="blogContent">#aaaa</textarea>
    </div>

    <!-- 文章发布按钮 -->
    <div class="ui sticky" style="float: right;z-index: 9999;">
        <div class="ui submit button">保存</div>
        <div class="ui submit button">发布</div>
    </div>

    <!-- 文章属性 -->
    <div id="attrForms" class="ui form">
        <div class="inline fields">
            <label class="w100px">文章类型:</label>
            <#list contentTypeList as contentType>
                <div class="field" onclick="checkContentType(this)">
                    <div class="ui radio checkbox g-option-tal">
                        <input type="radio" name="contentType" class="hidden" value="${contentType.type}">
                        <label>${contentType.desc}</label>
                    </div>
                </div>
            </#list>
            <div id="contentType_ext_info" class="field">
                <input name="extAuthor" type="text" placeholder="作者">
                <input name="extOirURL" type="text" placeholder="原文连接">
            </div>
        </div>
        <div class="inline fields">
            <label class="w100px">公开程度:</label>
            <div class="field">
                <div class="ui radio checkbox g-option-tal">
                    <input type="radio" name="modifier" class="hidden" checked="checked">
                    <label>所有人可见</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="modifier" class="hidden">
                    <label onclick="dropdownShow(this)">订阅(
                        <div class="ui inline dropdown">
                            <div class="text">???</div>
                            <div class="menu">
                                <div class="header">请选择话题</div>
                                <div class="item" data-text="Hasor">Hasor</div>
                                <div class="item" data-text="RSF">RSF</div>
                            </div>
                        </div>
                        )的人可见</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox g-option-tal">
                    <input type="radio" name="modifier" class="hidden">
                    <label>仅自己可见</label>
                </div>
            </div>
        </div>
        <div class="inline fields">
            <label class="w100px">是否允许评论:</label>
            <div class="field">
                <div class="ui checked checkbox">
                    <input type="checkbox" checked="checked">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="inline fields">
            <label class="w100px">是否置顶:</label>
            <div class="field">
                <div class="ui checked checkbox">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
        </div>
        <div class="inline fields">
            <label class="w100px">推送到站外:</label>
            <div class="field">
                <div class="ui checked checkbox g-option-tal">
                    <input type="checkbox" name="pushList" checked="checked">
                    <label>OSchina</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checked checkbox g-option-tal">
                    <input type="checkbox" name="pushList" checked="checked">
                    <label>CSDN</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checked checkbox g-option-tal">
                    <input type="checkbox" name="pushList" checked="checked">
                    <label>博客园</label>
                </div>
            </div>
        </div>
    </div>
    <!-- 遮罩 -->
</form>