${rootData.put('pageTitle','首页')}
<style>
    .rightBorder {
        border-right: thick dashed #cfcfcf;
    }
</style>
<div class="row">
    <div class="col-md-8 rightBorder">
        <#include "/templates/index_readme.htm"/>
    </div>
    <div class="col-md-4">
        <div>
            <h3>
                <#macro downloadSource version small=false>
                    <#assign info=versionMap.queryByVersion(version)/>
                    <#if small==false>Hasor-${version}</#if>
                    <div class="flowRight">
                        <div class="dropdown flowRight" style="padding-left: 10px;">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                <li><a href="${info.downloadURL}" target="_blank" title="Download Source">
                                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true">&nbsp;Source</span>
                                </a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="${info.apiURL}" target="_blank" title="View Apis">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true">&nbsp;Api Online</span>
                                </a></li>
                                <li><a href="${info.downloadApiURL}" target="_blank" title="Download Api">
                                    <span class="glyphicon glyphicon-compressed" aria-hidden="true">&nbsp;API Download</span>
                                </a></li>
                            </ul>
                        </div>
                        <#if small==false><a href="#" target="_blank">${info.releaseDate}</a></#if>
                    </div>
                </#macro>
                最新版本&nbsp;&nbsp;${env.curentVersion!}<@downloadSource version='${env.curentVersion!}' small=true/>
            </h3>
            <pre class="well">
&lt;dependency&gt;
  &lt;groupId>net.hasor&lt;/groupId&gt;
  &lt;artifactId>hasor-core&lt;/artifactId&gt;
  &lt;version>${env.curentVersion!}&lt;/version&gt;
&lt;/dependency&gt;
</pre>
        </div>
        <h3>相关资源</h3>
        <ul class="list-group">
            <li class="list-group-item">QQ群：193943114 ，快速加群：
                <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=5dcac49faa7ff61ed334aaea9e00cd24d357f0ac352b1c0c7294198834a38985"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="从零开始写框架" title="从零开始写框架"></a>
            </li>
            <li class="list-group-item">
                [<a href="https://github.com/zycgit/hasor" target="_blank">Github</a>]
                [<a href="http://git.oschina.net/zycgit/hasor" target="_blank">Git@OSC</a>]
                <!--
                <script src="http://git.oschina.net/zycgit/hasor/star_widget_preview"></script>
                <script src="http://git.oschina.net/zycgit/hasor/fork_widget_preview"></script>
                <iframe style="border: 0;" width="100" height="24" src="http://ghbtns.com/github-btn.html?user=zycgit&repo=hasor&type=watch&count=true"></iframe>
                <iframe style="border: 0;" width="100" height="24" src="http://ghbtns.com/github-btn.html?user=zycgit&repo=hasor&type=fork&count=true"></iframe>
                -->
            </li>
            <li class="list-group-item">Team：<a href="https://team.oschina.net/hasor" target="_blank">https://team.oschina.net/hasor</a></li>
            <li class="list-group-item">Issues：<a href="http://git.oschina.net/zycgit/hasor/issues" target="_blank">http://git.oschina.net/zycgit/hasor/issues</a></li>
            <li class="list-group-item">Maven：<a href="http://search.maven.org/" target="_blank">http://search.maven.org/</a></li>
        </ul>
        <h3>打赏</h3>
        <img src="http://static.oschina.net/uploads/space/2015/1130/154023_xiMj_1166271.png" width="150" height="150" alt="" data-bd-imgshare-binded="1">
    </div>
</div>