${rootData.put('pageTitle','我的项目')}
<#list projectList as project>
    ID              ${project.id} <br/>
    parentID        ${project.parentID} <br/>
    status          ${project.status.desc} <br/>

    homePage        ${project.homePage} <br/>
    downPage        ${project.downPage} <br/>
    sourceType      ${project.sourceType.desc} <br/>
    language        ${project.language} <br/>
    license         ${project.license} <br/>

    name            ${project.name} <br/>
    subtitle        ${project.subtitle} <br/>
    contentFormat   ${project.contentFormat.desc} <br/>
    present         ${project.present} <br/>

    createTime      ${project.createTime?string("yyyy-MM-dd HH:mm:ss")} <br/>
    modifyTime      ${project.modifyTime?string("yyyy-MM-dd HH:mm:ss")} <br/>
    <hr/>
</#list>