${rootData.put('pageTitle', project.name + ' [Changelog]')}
${rootData.put('navIndex',0)}
<link rel="stylesheet" href="${ctx_path}/static/website/css/projects_public.htm.css">
<div class="page-header" style="margin: 0px;">
    <h3 style="margin: 0px;">
        <a href="${ctx_path}/projects/${project.id}.htm">${escapeHtml.escapeHtml(project.name)}</a>
        <small>${escapeHtml.escapeHtml(project.subtitle)}</small>
    </h3>
</div>
<#if versionList?size == 0>
    <div class="alert alert-warning" role="alert" style="text-align: center;">尚未发布任何版本！</div>
</#if>
<#if versionList?size != 0>
    <p>&nbsp; &nbsp; 这里会按照发布时间远近一次罗列每一个&nbsp;<strong>${escapeHtml.escapeHtml(project.name)}</strong>&nbsp;版本的变化和特性。</p>
</#if>
<#list versionList as versionInfo>
    <h3>
        ${escapeHtml.escapeHtml(project.name)}-${escapeHtml.escapeHtml(versionInfo.version)}
        <div class="flowRight">
            <div class="dropdown flowRight" style="padding-left: 10px;">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="${versionInfo.futures.sourceURL}" target="_blank" title="Source">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true">&nbsp;Source</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.hasor.net/projects/${project.id}/${versionInfo.version}/api.htm" target="_blank" title="View Apis">
                            <span class="glyphicon glyphicon-book" aria-hidden="true">&nbsp;Api Online</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#">${versionInfo.releaseTime?string("yyyy-MM-dd")}</a>
        </div>
    </h3>
    <pre>${versionInfo.changelog}</pre>
</#list>