${rootData.put('pageTitle', project.name)}
${rootData.put('navIndex',0)}
<link rel="stylesheet" href="${ctx_path}/static/website/css/projects_public.htm.css">

<!--begin row-->
<div class="row home-wrapper">
    <!--begin col-md-12-->
    <div class="col-md-12 text-center">
        <h1 class="home-title">${project.name}</h1>
        <p class="home-subtitle">${project.subtitle}</p>

        <a href="#" class="btn btn-lg">Schedule a Demo</a>
        <a href="#" class="btn btn-lg">Documentation</a>
        <a href="/projects/${project.id}/${newVersion.version}/projectApi.htm" class="btn btn-lg">Versions: ${newVersion.version}</a>

    </div>
    <!--end col-md-12-->
</div>
<hr/>
${projectPresent}