${rootData.put('pageTitle', project.name)}
${rootData.put('navIndex',0)}
<link rel="stylesheet" href="${ctx_path}/static/website/css/projects_public.htm.css">

<!--begin row-->
<div class="row home-wrapper">
    <!--begin col-md-12-->
    <div class="col-md-12 text-center">
        <h1 class="home-title">${project.name}</h1>
        <p class="home-subtitle">${project.subtitle}</p>

        <a href="#" class="btn btn-lg">Documentation</a>
        <a href="/projects/${project.id}/projectChangelog.htm" class="btn btn-lg">Changelog</a>
        <!-- -->
        <#if newVersion??>
            <a href="/projects/${project.id}/${newVersion.version}/api.htm" class="btn btn-lg">APIs: ${newVersion.version}</a>
        </#if>
        <#if !newVersion??>
            <a href="javascript:void(0);" class="btn btn-lg">APIs: Unknown</a>
        </#if>

    </div>
    <!--end col-md-12-->
</div>
<hr/>
${project.present}