${rootData.put('pageTitle','Blog')}
<!-- semantic-ui -->
<link href="//files.hasor.net/static/javascript/semantic-ui/2.2.3/semantic.min.css" rel="stylesheet">
<script src="//files.hasor.net/static/javascript/semantic-ui/2.2.3/semantic.js"></script>
<!-- dateRangePicker -->
<script src="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/moment.min.js"></script>
<script src="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/daterangepicker.js"></script>
<link href="//files.hasor.net/static/javascript/bootstrap.plugins/daterangepicker/2.1.24/daterangepicker.css" rel="stylesheet"/>
<!-- edit.md -->
<#include "/control/editor_md.htm"/>
<link href="${ctx_path}/static/website/blog_editer/editer.css" rel="stylesheet">
<script src="${ctx_path}/static/website/blog_editer/editer.js"></script>

<form>
    <input id="csrfToken" type="hidden" name="csrfToken" value="${csrfToken}"/>
    <!-- 标题 & 分类-->
    <div class="ui form">
        <div class="fields">
            <div class="twelve wide field">
                <div class="ui massive transparent fluid input">
                    <input type="text" placeholder="文章标题...">
                </div>
            </div>
            <div class="four wide field" style="z-index: 2000;">
                <div class="ui search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">请选择分类</div>
                    <div class="menu">
                        <div class="item" data-value=""><i class="bookmark icon"></i>默认分类</div>
                        <#list categoryList as category>
                            <div class="item" data-value="${category.id}"><i class="tag icon"></i>${category.name}</div>
                        </#list>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑器 -->
    <div id="editor_md"></div>
    <script>
        $(function () {
            initEditor("editor_md");
        });
    </script>

    <!-- 文章发布按钮 -->
    <div class="ui sticky" style="float: right;z-index: 9999;">
        <div class="ui submit button">保存</div>
        <div class="ui submit button">发布</div>
    </div>

    <!-- 文章属性 -->
    <div id="attrForms" class="ui form">
        <div class="inline fields">
            <label class="w50px">类型：</label>
            <#list contentTypeList as contentType>
                <div class="field">
                    <div class="ui radio checkbox g-option-tal">
                        <input type="radio" name="contentType" class="hidden" value="${contentType.type}">
                        <label>${contentType.desc}</label>
                    </div>
                </div>
            </#list>
        </div>
    </div>
    <!-- 遮罩 -->
</form>