<footer id="footer">
    <div class="container">

        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "aboutUs" }}</h4>
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- https://buttons.github.io/ -->
            <h4>{{ i18n "sourceCode" }}</h4>
            <a class="github-button" href="https://github.com/zycgit/hasor" data-show-count="true" aria-label="Star zycgit/hasor on GitHub">Star</a>
            <a class="git-source" href='https://gitee.com/zycgit/hasor/stargazers'><img src='https://gitee.com/zycgit/hasor/badge/star.svg?theme=dark' alt='star'/></a>

            <br>

            <a class="github-button" href="https://github.com/zycgit/hasor/fork" data-show-count="true" aria-label="Fork zycgit/hasor on GitHub">Fork</a>
            <a class="git-source" href='https://gitee.com/zycgit/hasor/members'><img src='https://gitee.com/zycgit/hasor/badge/fork.svg?theme=dark' alt='fork'/></a>

            <br>

            <a href="https://www.apache.org/licenses/LICENSE-2.0.html">
                <img src="https://img.shields.io/badge/license-Apache%202-4EB1BA.svg" alt="License">
            </a>
            <a href="https://maven-badges.herokuapp.com/maven-central/net.hasor/hasor-core">
                <img src="https://maven-badges.herokuapp.com/maven-central/net.hasor/hasor-core/badge.svg" alt="Maven Central">
            </a>
            <a href="https://travis-ci.org/zycgit/hasor">
                <img src="https://travis-ci.org/zycgit/hasor.svg?branch=master" alt="Build Status">
            </a>
        </div>

        <div class="col-md-4 col-sm-6">
            <h4>{{ i18n "contactTitle" }}</h4>
            [Email：zyc@byshell.org]
            <br>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=15b02e932a47d714591981afb98a68f8bd8ffee59ead2c394fb7e5834ff3b2ea">
                QQ群：193943114 <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="Hasor官方社区" title="Hasor官方社区">
            </a>
        </div>

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">

            <p class="pull-left">
                Copyright (c) 2009 - 2018, Hasor Team; all rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002013536">
                    <img src="/web/img/beian.png" style="display: inline-block;">浙公网安备 33011002013536号
                </a>
                &nbsp;&nbsp;
                <a target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备18034797号</a>
            </p>
            <p class="pull-right">
                {{ i18n "templateBy" }} <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
                <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->
                {{ i18n "portedBy" }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
